# ABASTECIMENTO
ver pyodbc

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from datetime import date,time,datetime

## Importando reportes principales

In [2]:
import time
start = time.time()
materiales = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/M.xlsx")
end = time.time()
print(f"Se importo M ({len(materiales)} registros/{round(end - start,1)} segundos)")

start = time.time()
pedidos = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/P.xlsx")
end = time.time()
print(f"Se importo P ({len(pedidos)} registros/{round(end - start,1)} segundos)")

start = time.time()
bloq = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/B.xlsx")
end = time.time()
print(f"Se importo B ({len(bloq)} registros/{round(end - start,1)} segundos)")

start = time.time()
reservas = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/R.xlsx")
end = time.time()
print(f"Se importo R ({len(reservas)} registros/{round(end - start,1)} segundos)")

start = time.time()
zub = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/Z.xlsx")
end = time.time()
print(f"Se importo Z ({len(zub)} registros/{round(end - start,1)} segundos)")

start = time.time()
zor = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/S.xlsx")
end = time.time()
print(f"Se importo S ({len(zor)} registros/{round(end - start,1)} segundos)")

start = time.time()
contratos = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/C.xlsx")
end = time.time()
print(f"Se importo C ({len(contratos)} registros/{round(end - start,1)} segundos)")

start = time.time()
consumos = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/ConsumosMicro.xlsx")
end = time.time()
print(f"Se importo ConsumoMicro ({len(consumos)} registros/{round((end - start)/60,1)} minutos")

Se importo M (28301 registros/9.1 segundos)
Se importo P (3774 registros/1.0 segundos)
Se importo B (25093 registros/3.7 segundos)
Se importo R (1738 registros/0.5 segundos)
Se importo Z (704 registros/0.2 segundos)
Se importo S (1938 registros/0.4 segundos)
Se importo C (3799 registros/1.1 segundos)
Se importo ConsumoMicro (667306 registros/2.2 minutos

## Importando proveedores y mat-prov

In [3]:
start = time.time()
prov = pd.read_excel("proveedores.xlsx")
end = time.time()
print(f"Se importo prov ({len(prov)} registros/{round(end - start,1)} segundos)")

start = time.time()
matProv = pd.read_excel("mat-prov.xlsx")
end = time.time()
print(f"Se importo matProv ({len(matProv)} registros/{round(end - start,1)} segundos)")

Se importo prov (1427 registros/0.3 segundos)
Se importo matProv (45343 registros/1.7 segundos)

## Acondiciona dataframe Materiales

In [4]:
#Borrar los materiales de los almacenes 1140 y 1142 del centro 1002
indexABorrar = materiales[(materiales['Ce.']==1002) & (materiales['Almacén'].isin(['1141','1140']))].index
materiales.drop(indexABorrar, inplace=True)
print('Se borraron los materiales de los almacenes 1140 y 1142 del centro 1002.')

#Creamos el id del dataframe materiales
materiales["id_mat"] = materiales["Almacén"] + materiales["Material"].astype(str)
materiales.set_index('id_mat', inplace=True)
print('Se creó id_mat')

#Creamos la columna familia
def crearFlia(jquia):
    flia = jquia[:5][3:]
    return flia
materiales['flia'] = materiales['Jquía.productos'].apply(crearFlia)
materiales[['Material','Texto breve de material','Jquía.productos','flia']]
print('Se creó la columna flia en df materiales.')

Se borraron los materiales de los almacenes 1140 y 1142 del centro 1002.
Se creó id_mat
Se creó la columna flia en df materiales.

## Busqueda

In [5]:
columna = 'Texto breve de material'
texto1 = '1010'
dfBusqueda1 = materiales[materiales[columna].str.contains(texto1,case=False)][['Material','Texto breve de material','Ce.','Almacén','Grupo de artículos', 'GCp']]
dfBusqueda1
#dfBusqueda1.to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/busqueda1.xlsx')

,Material,Texto breve de material,Ce.,Almacén,Grupo de artículos,GCp
id_mat,,,,,,
11251001600,1001600,"BARRA REDONDA SAE-1010 1/4"" 6MTS.",1001,1125,barra de acero negro,D62
11251001601,1001601,"BARRA REDONDA SAE-1010 5/16"" 6MTS.",1001,1125,barra de acero negro,D62
11251001602,1001602,"BARRA DE ACERO REDONDA SAE1010 D.3/8""",1001,1125,barra de acero negro,D62
11251001603,1001603,"BARRA AO. REDONDA DIAM. 1/2"" AO.SAE-1010",1001,1125,barra de acero negro,D62
11251001604,1001604,"BARRA REDONDA SAE-1010 5/8"" 6MTS.",1001,1125,barra de acero negro,D62
...,...,...,...,...,...,...
11281037537,1037537,HORQUILLAS P/CARDANS-H1010HORQK5251P,1002,1128,REPUESTOS,D53
11241046538,1046538,SEGURO P/RODAM.PALIER 42423-71010 TOYOTA,1007,1124,SUBCONJ48,D18
11261048655,1048655,ADAPTAD.DE ACOPLE CARDANICO 720101000550,1001,1126,Presost.termost.,DOA
11241060229,1060229,CAMISA 5P-1010,1007,1124,motoniveladora cat 120h,D15
11261061668,1061668,RUEDA MOTRIZ D= 150 P/ POSIC. ZFA10101,1001,1126,Repuestos Envasadora,D49

## Busqueda tipo like

In [6]:
columna = 'Texto breve de material'
texto1 = 'SAE'
texto2 = '1010'

dfBusqueda1 = materiales[(materiales[columna].str.contains(texto1,case=False)) & (materiales[columna].str.contains(texto2,case=False))][['Material','Texto breve de material','Ce.','Almacén','Grupo de artículos', 'GCp']]
dfBusqueda1
#dfBusqueda1.to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/busqueda1.xlsx')

,Material,Texto breve de material,Ce.,Almacén,Grupo de artículos,GCp
id_mat,,,,,,
11251001600,1001600,"BARRA REDONDA SAE-1010 1/4"" 6MTS.",1001,1125,barra de acero negro,D62
11251001601,1001601,"BARRA REDONDA SAE-1010 5/16"" 6MTS.",1001,1125,barra de acero negro,D62
11251001602,1001602,"BARRA DE ACERO REDONDA SAE1010 D.3/8""",1001,1125,barra de acero negro,D62
11251001603,1001603,"BARRA AO. REDONDA DIAM. 1/2"" AO.SAE-1010",1001,1125,barra de acero negro,D62
11251001604,1001604,"BARRA REDONDA SAE-1010 5/8"" 6MTS.",1001,1125,barra de acero negro,D62
...,...,...,...,...,...,...
11241027962,1027962,"PERFIL U SAE-1010 80X50X1/4""X0,80CM",1007,1124,Rep. Acoplados - perfiles y tubos,D18
11241027963,1027963,"PERFIL U SAE-1010 80X50X1/4""X0,40CM",1007,1124,Rep. Acoplados - perfiles y tubos,D18
11241027973,1027973,PERFIL U SAE-1010 100X150X1000MMX3/8,1007,1124,"Acoplado, repuestos varios hoja, paquete de el...",D18
11241027977,1027977,TUBO AO.SAE1010 100X100X2200MM E.1/4,1007,1124,Rep. Acoplados - perfiles y tubos,D18
11261032095,1032095,"VARILLA SAE1010 8,5X10,5X600MM",1001,1126,BOMBA CAMELLI,D49

In [7]:
columna = 'Texto breve de material'
texto1 = 'SAE'
texto2 = '1010'

dfBusqueda2 = materiales[(materiales[columna].str.contains(texto1,case=False)) | (materiales[columna].str.contains(texto2,case=False))][['Material','Texto breve de material','Ce.','Almacén','Grupo de artículos', 'GCp']]
dfBusqueda2 = dfBusqueda2['Material']
#dfBusqueda2.to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/busqueda2.xlsx')

In [19]:
columna = 'Grupo de artículos'
texto1 = 'toyo'
texto2 = 'hilu'

dfBusqueda3 = materiales[(materiales[columna].str.contains(texto1,case=False)) | (materiales[columna].str.contains(texto2,case=False))][['Material','Texto breve de material','Ce.','Almacén','Grupo de artículos', 'GCp']]
dfBusqueda3 = dfBusqueda3['Material']
dfBusqueda3

id_mat
11241024586    1024586
11241024587    1024587
11241024588    1024588
11241024589    1024589
11241024590    1024590
                ...
11241061733    1061733
11241061734    1061734
11241061737    1061737
11241061738    1061738
11241061892    1061892
Name: Material, Length: 355, dtype: int64

In [24]:
pd.merge(dfBusqueda3,dfBusqueda2,on='Material',how='outer')

     Material
0     1024586
1     1024587
2     1024588
3     1024589
4     1024590
..        ...
418   1047842
419   1047843
420   1047844
421   1047845
422   1060961

[423 rows x 1 columns]

## Análisis de Bloqueados

In [2]:
import pandas as pd
import numpy as np

In [3]:
bloq = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/bloqueados.xlsx")
bloq.columns = ['Material', 'mov', 'Cant', 'Centro',
       'FechaCont', 'Pedido', 'Referencia', 'Prov',
       'Doc', 'Pos']

In [6]:
bloq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46060 entries, 0 to 46059
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Material    24391 non-null  float64
 1   mov         46060 non-null  int64
 2   Cant        46060 non-null  float64
 3   Centro      46060 non-null  int64
 4   FechaCont   46060 non-null  datetime64[ns]
 5   Pedido      46060 non-null  int64
 6   Referencia  45926 non-null  object
 7   Prov        46060 non-null  int64
 8   Doc         46060 non-null  int64
 9   Pos         46060 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(1)
memory usage: 3.5+ MB

In [11]:
def eliminarCeros(cadena):
#    return type(cadena)
    lista = []
    for x in cadena:
        if x != '0':
            lista.append(x)
    return "".join(lista)
    
bloq['ref'] = bloq['Referencia'].apply(eliminarCeros)

TypeError: 'float' object is not iterable

In [10]:
bloq

,Material,mov,Cant,Centro,FechaCont,Pedido,Referencia,Prov,Doc,Pos,ref
0,1000372.0,103,1080.0,1003,2020-06-01,4500148296,0014R00609870,803772,5000841929,60,<class 'str'>
1,1000372.0,103,17280.0,1003,2020-06-01,4500148296,0014R00609871,803772,5000842050,60,<class 'str'>
2,1000372.0,103,2160.0,1003,2020-06-01,4500148296,0014R00609872,803772,5000842051,60,<class 'str'>
3,1000380.0,103,26400.0,1003,2020-06-01,4500148296,0005R00421868,803772,5000842447,110,<class 'str'>
4,1000397.0,103,510.0,1003,2020-06-01,4500148991,0005R00421690,803772,5000842496,20,<class 'str'>
...,...,...,...,...,...,...,...,...,...,...,...
46055,1059090.0,105,3.0,1007,2022-03-10,4800145726,00003R00051481,803388,5001037289,1,<class 'str'>
46056,1059090.0,105,3.0,1007,2022-03-10,4800145726,00003R00051480,803388,5001037288,1,<class 'str'>
46057,1059105.0,105,2.0,1007,2022-03-10,4800145726,00003R00051482,803388,5001037320,2,<class 'str'>
46058,1060679.0,105,2400.0,1007,2022-03-10,4800146104,00003R00002682,803379,5001037325,12,<class 'str'>
46059,1061879.0,105,6.0,1007,2022-03-10,4800145807,00019R00057516,800735,5001037344,2,<class 'str'>

In [ ]:
# PENDIENTE se debe quitar los ceros al campo referencias

#Para concatenar
#bloq["key"] = bloq["Material"].astype(str) + bloq["Pedido"].astype(str)

In [ ]:
#convierte en negativo los 105 y los 106
def transformar(x,y):
    if x == 103:
        return y
    elif x == 104:
        return y
    elif x == 105:
        return y * (-1)
    elif x == 106:
        return y * (-1)

bloq['Cantidad'] = bloq.apply(lambda row: transformar(row['Clase de movimiento'],row['Cantidad']), axis=1)

In [ ]:
#Suma 103+104+105+106
pendientes = bloq.groupby(by = "Material")['Cantidad'].sum()

pendientes = pendientes[x!=0.0]

In [ ]:
bloq[bloq["Material"].isin(pendientes.keys())]

In [ ]:
bloq[bloq["Material"]==1004085]

In [ ]:
#Para exportar a excel
#b = bloq.head()
#b.to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/prueba.xlsx')

## Valores únicos

In [ ]:
dato = np.unique(materiales.Material)

In [ ]:
dato

In [ ]:
data = np.unique(materiales['Almacén'], return_counts=True )

In [ ]:
data

In [ ]:
data[1]

In [ ]:
plt.pie(x = data[1],
       labels=data[0],
       startangle=90,
       radius = 2)
plt.show()

## Consumos

In [ ]:
consumos.info()

## Consumo de los Ultimos 12 meses

In [ ]:
hasta = str(date.today().year  )+"-"+str(date.today().month)+"-01"
desde = str(date.today().year-1)+"-"+str(date.today().month)+"-01"
condicion = (consumos['Fecha'] >= desde) & (consumos['Fecha'] < hasta)
ult12 = consumos.loc[condicion][['Fecha','Material','Alm','Salida']]

In [ ]:
ult12

In [ ]:
ult12_1125 = ult12[ult12['Alm']=='1125']

In [ ]:
ult12_1125

In [ ]:
#Dos formas de hacerlo. Ammbas generan warning.
#ult12_1125['Mes'] = ult12_1125['Fecha'].dt.month

def crearMes(fecha):
    mes = fecha.month
    return mes
ult12_1125['Mes'] = ult12_1125['Fecha'].apply(crearMes)

In [ ]:
ult12_1125._is_view #ult12_1125._is_copy

In [ ]:
ult12_1125

In [ ]:
ult12_1125['Mes'] = ult12_1125['Fecha'].dt.month

In [ ]:
ult12_1125._is_view

In [ ]:
ult12_1125

In [ ]:
materiales

## Extraer números

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/texto.xlsx")

In [5]:
df

                   Texto
0            YAR 207-2RF
1            YAR 210-2RF
2             PHG AX57EP
3        M 84510/2/QCL7C
4        JLM104910-N0000
..                   ...
82  EXTENCION DE JORNADA
83           56418-20024
84             665-20024
85          NATV 12 PPXA
86    REPARACION TECLADO

[87 rows x 1 columns]

## ¿Quién consumió?

In [1]:
import pandas as pd
import numpy as np

Procedimiento:
1. Antes del paso 1 descargo info de consumos con MB51
2. Antes del paso 2 copio las reservas de SinDupliar y descargo reserva-user con MB25

In [2]:
# 1° cargo información de consumos y reservas (MB51)
df = pd.read_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/export.xlsx')
df.columns = ['FechaContab', 'Material', 'Moc', 'Cant','Ce', 'Alm', 'reserva', 'CeRecep']
# se devuelve las reservas sin duplicar para usar con (MB25)
destino = 'C:/Users/ordonez/Documents/SAP/SAP GUI/SinDuplicados.xlsx'
pd.DataFrame(df['reserva'].unique()).to_excel(destino,index=False)
# Preparo dataframe userSAP
userSAP = pd.read_excel('C:/Users/ordonez/Documents/UCASAL/notebooks/usuarioSAP.xlsx')

In [3]:
# 2° cargo información reservas-usuarios (MB25)
df2 = pd.read_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/export.XLSX')
# Elimina dupliados de la columna N° reserva
df2 = df2.drop_duplicates(subset=['Nº reserva'])
df2.columns = ['reserva','usuarioSAP']
reservaDepto = pd.merge(df2,userSAP,on='usuarioSAP',how='left')[['reserva', 'usuarioSAP', 'ApellidoNombre', 'Depto',
       'GciaDeptal']]
pd.merge(df,reservaDepto,on='reserva',how='left').to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/export.xlsx',index=False)

In [4]:
df3 = pd.merge(df,reservaDepto,on='reserva',how='left')

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 341 entries, 0 to 340
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FechaContab     341 non-null    datetime64[ns]
 1   Material        341 non-null    int64
 2   Moc             341 non-null    int64
 3   Cant            341 non-null    int64
 4   Ce              341 non-null    int64
 5   Alm             341 non-null    int64
 6   reserva         341 non-null    int64
 7   CeRecep         29 non-null     float64
 8   usuarioSAP      312 non-null    object
 9   ApellidoNombre  302 non-null    object
 10  Depto           300 non-null    object
 11  GciaDeptal      298 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(6), object(4)
memory usage: 34.6+ KB

In [8]:
df

    FechaContab  Material  Moc  Cant    Ce   Alm     reserva  CeRecep
0    2022-03-15   1002277  201    -2  1007  1124  9501182065      NaN
1    2022-03-10   1002277  201    -2  1007  1124  9501179893      NaN
2    2022-03-10   1002277  201    -2  1007  1124  9501179841      NaN
3    2022-03-10   1002277  201    -2  1007  1124  9501179836      NaN
4    2022-03-04   1002277  201    -2  1007  1124  9501176723      NaN
..          ...       ...  ...   ...   ...   ...         ...      ...
336  2022-01-24   1026398  641    -4  1007  1124           0   1058.0
337  2022-01-18   1060967  641  -200  1007  1124           0   1058.0
338  2022-01-03   1060967  641   -36  1007  1124           0   1058.0
339  2022-01-18   1060968  641  -200  1007  1124           0   1058.0
340  2022-01-03   1060968  641   -36  1007  1124           0   1058.0

[341 rows x 8 columns]

## Limpieza de CONSUMOS_DIARIOS.xlsx

In [1]:
import pandas as pd
import numpy as np

def a_fecha(cadena):
    fecha = cadena[0:2:1]+ '/' + cadena[3:5:1] + '/' + cadena[8:10:1]
    return pd.to_datetime(fecha,format='%d/%m/%y')

archivo = 'C:/Users/ordonez/Documents/SAP/SAP GUI/CONSUMOS_DIARIOS.xlsx'
tipos = {'Número de Reserva Nivel 01':str,
         'Mov':str, 'Alm':str, 'CenRec':str
        }
consumos = pd.read_excel(archivo,header=[2],dtype = tipos)
consumos.columns = ['Fecha','Material','Mov','Alm','CeRec','Res','DH','Salida']


consumos['Fecha'] = consumos['Fecha'].apply(a_fecha)

consumos.to_excel(archivo,index=False)

C:\Users\ordonez\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")