# Pandas
[Tutorial](https://www.youtube.com/watch?v=8ASjvOIyyl8)
[Tutorial2](https://www.youtube.com/watch?v=zAIWnwqHGok)

In [1]:
import pandas as pd
import numpy as np

## 1 Creando un dataFrame usando arrays

In [ ]:
data = np.array([[1,4],[55,2],[25,25],[10,5]])

In [ ]:
data

In [ ]:
pd.DataFrame(data, index=['row1','row2','row3','row4'],
            columns=['col1','col2'])

## Creando dataFrame desde diccionarios

In [ ]:
states = ['California','Texas','Florida','New York']
population = [39613493,29730311,21944577,19299981]

In [ ]:
dic_states = {'States':states, 'Population':population}

In [ ]:
dic_states

In [ ]:
df = pd.DataFrame(dic_states)

In [ ]:
df

## Crear un dataFrame desde un archivo excel

In [ ]:
import time
start = time.time()
mat = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/M.xlsx")
end = time.time()
print(f"Para importar los datos SAP se tardó {end - start} segundos")

In [ ]:
display(mat)

In [ ]:
mat.columns

In [ ]:
mat.dtypes

In [ ]:
materiales.info()

In [ ]:
mat.describe()

## Borrar los materiales de los almacenes 1140 y 1142 del centro 1002

In [ ]:
indexABorrar = materiales[(materiales['Ce.']==1002) & (materiales['Almacén'].isin(['1141','1140']))].index
materiales.drop(indexABorrar, inplace=True)

## Creamos el id_mat

In [ ]:
mat["id_mat"] = mat["Almacén"] + mat["Material"].astype(str)
mat.set_index('id_mat', inplace=True)

## Filtrados de columnas

In [ ]:
mat["Material"]

In [ ]:
mat[['Material','Almacén', 'PrMedioVar','Libre utiliz.']] # Paso una lista con los nom.de col.

## Filtrado de filas

In [ ]:
mat.iloc[0]

In [ ]:
mat.iloc[0:3]

In [ ]:
mat.loc[['11261004756','11261001167','11281061933']]

In [ ]:
mat.loc[['11261004756','11261001167','11281061933'],['Material','Almacén', 'PrMedioVar','Libre utiliz.']]

In [ ]:
mat[(mat['PrMedioVar']<10000) & (mat['Almacén']=='1126')]

In [ ]:
mat.columns

## Busca si contiene una cadena de texto

In [ ]:
mat[mat['Texto breve de material'].str.contains('6206')]

## Para buscar por varios textos

In [ ]:
columna = 'Texto breve de material'
texto1 = 'JUNTA'
texto2 = '1929'

dfBusqueda2 = materiales[(materiales[columna].str.contains(texto1,case=False)) & (materiales[columna].str.contains(texto2,case=False))][['Material','Texto breve de material','Ce.','Almacén','Grupo de artículos', 'GCp']]
dfBusqueda2.to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/busqueda2.xlsx')

## Apply

In [ ]:
import random
def stockCero(stock):
    resultado = stock == 0.0
    return resultado

mat["stockCero"] = mat['Libre utiliz.'].apply(stockCero)
mat.head(10)

In [ ]:
def calculoValor(fila):
    resultado = fila['Libre utiliz.'] * fila['PrMedioVar']
    return resultado

mat['valor'] = mat.apply(calculoValor, axis=1)

In [ ]:
mat[['Material','Libre utiliz.','PrMedioVar','valor']].head()

## Agrupación de datos

In [ ]:
mat.groupby("Almacén").mean()

In [ ]:
agrupado = mat.groupby("Almacén").agg({
    'Libre utiliz.': 'mean',
    'PrMedioVar': 'max',
    'PzE': 'min',
    'Creado': 'max'
})

In [ ]:
agrupado

In [ ]:
agrupado['PrMedioVar'].plot(kind='bar')

In [ ]:
mat.plot(kind='scatter',x='PzE',y='Stock máximo')

In [ ]:
mat.dtypes

# Introducción al Pandas

In [ ]:
df = pd.read_csv("C:/Users/ordonez/Documents/UCASAL/notebooks/base_datos_2008.csv", nrows = 1000000)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample(frac = 1) #El 1 indica que mostrará el 100 %

In [ ]:
#Muestra las columnas del dataFrame
df.columns

In [ ]:
df.info()

In [ ]:
#Para saber el tipo de dato de cada columna
df.dtypes

In [ ]:
df["Year"] #df.Year

In [ ]:
df.Year

In [ ]:
df[['DayofMonth','ArrDelay','Distance']]

In [ ]:
df[df.Origin.isin(["HOU","ATL"])]

In [ ]:
df[pd.isna(df["ArrDelay"])].head()

In [ ]:
len(df[pd.isna(df["ArrDelay"])])

## Transformaciones de las bases de datos

### Agregamos una columna

In [ ]:
df["HoursDelay"] = round(df["ArrDelay"] / 60)

In [ ]:
df.HoursDelay

### Borramos una columna

In [ ]:
del(df["HoursDelay"])

In [ ]:
df = df.drop(["Diverted","Cancelled","Year"],axis=1)
# df.drop(["Diverted","Cancelled","Year"],axis=1,inplace=true) el parámetro inplace hace efectivo el borrado sin necesidad de reasignar

In [ ]:
df.head()

### Borrar filas

In [ ]:
df.drop(0) #Borra la primer fila

In [ ]:
df.drop(range(0,10000)) #No borra hasta que se asigne

### Concatenating dfATL and dfHOU along rows

In [ ]:
dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"]
newdf = pd.concat([dfATL,dfHOU],axis=0) #dfATL.append(dfHOU) is deprecated

In [ ]:
display(newdf.Origin)

### Groupby: Obtener información esencial

In [ ]:
#Obtiene el máximo retraso de los vuelos por semana
df.groupby(by = "DayOfWeek")["ArrDelay"].max()

In [ ]:
df.groupby(by = "DayOfWeek")["ArrDelay"].describe()

In [ ]:
df.groupby(by = "DayOfWeek")["ArrDelay","DepDelay"].mean()

In [ ]:
#Rango
df.groupby(by = "DayOfWeek")["ArrDelay"].max() - df.groupby(by = "DayOfWeek")["ArrDelay"].min()

In [ ]:
dfATLHOU = df[df.Origin.isin(["ATL","HOU"])]

In [ ]:
dfATLHOU.groupby(by = ["DayOfWeek","Origin"])["ArrDelay"].mean()

In [ ]:
mygroupby = dfATLHOU.groupby(by = ["DayOfWeek","Origin"])["ArrDelay"]
mygroupby.max()

## Tratar datos duplicados y perdidos

In [ ]:
df = pd.read_csv("C:/Users/ordonez/Documents/UCASAL/notebooks/base_datos_2008.csv", nrows = 1e6)

In [ ]:
#duplicamos el dataframe
dfDuplicate = pd.concat([df,df])

In [ ]:
dfDuplicate = dfDuplicate.sample(frac=1)

In [ ]:
dfClean = dfDuplicate.drop_duplicates()

In [ ]:
dfClean.drop_duplicates(subset = "DayofMonth")

In [ ]:
df.dropna()

## Trabajo con Fechas

In [9]:
dfFechas = pd.DataFrame({'Date':['3/10/2000','3/11/2000','3/12/2000'],
                        'Value':[2,3,4]})

In [10]:
dfFechas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [11]:
dfFechas['Date'] = pd.to_datetime(dfFechas['Date'])

In [12]:
dfFechas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      datetime64[ns]
 1   Value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [13]:
dfFechas

        Date  Value
0 2000-03-10      2
1 2000-03-11      3
2 2000-03-12      4

In [14]:
dfFechas = pd.DataFrame({'Date':['3/10/2000','3/11/2000','3/12/2000'],
                        'Value':[2,3,4]})
dfFechas['Date'] = pd.to_datetime(dfFechas['Date'], dayfirst=True)

In [15]:
dfFechas

        Date  Value
0 2000-10-03      2
1 2000-11-03      3
2 2000-12-03      4

### Formato personalizado

In [16]:
df = pd.DataFrame({'date': ['2016-6-10 20:30:0', 
                            '2016-7-1 19:45:30', 
                            '2013-10-12 4:5:1'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")

In [17]:
df

                 date  value
0 2016-10-06 20:30:00      2
1 2016-01-07 19:45:30      3
2 2013-12-10 04:05:01      4

In [5]:
path = 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/'
data = pd.read_csv(path + "titanic.csv")
#data.to_excel("titanic.xlsx")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

In [6]:
data

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

# Best of Both Worlds: Automated and Dynamic SQL Queries from Python
[link](https://towardsdatascience.com/best-of-both-worlds-automated-and-dynamic-sql-queries-from-python-5b74a24501b0)

In [1]:
import sqlalchemy as sa

ModuleNotFoundError: No module named 'sqlalchemy'

# Fugue and DuckDB: Fast SQL Code in Python
Optimize Your SQL Code with Python and DuckDB
[link](https://towardsdatascience.com/fugue-and-duckdb-fast-sql-code-in-python-e2e2dfc0f8eb)

# 5 Intro to PyTorch: Part 1 
[link](https://towardsdatascience.com/intro-to-pytorch-part-1-663574fb9675)