# Pandas
[Tutorial](https://www.youtube.com/watch?v=8ASjvOIyyl8)
[Tutorial2](https://www.youtube.com/watch?v=zAIWnwqHGok)

In [1]:
import pandas as pd
import numpy as np

## 1 Creando un dataFrame usando arrays

In [2]:
data = np.array([[1,4],[55,2],[25,25],[10,5]])

In [3]:
data

array([[ 1,  4],
       [55,  2],
       [25, 25],
       [10,  5]])

In [7]:
pd.DataFrame(data, index=['row1','row2','row3','row4'],
            columns=['col1','col2'])

      col1  col2
row1     1     4
row2    55     2
row3    25    25
row4    10     5

## Creando dataFrame desde diccionarios

In [8]:
states = ['California','Texas','Florida','New York']
population = [39613493,29730311,21944577,19299981]

In [9]:
dic_states = {'States':states, 'Population':population}

In [10]:
dic_states

{'States': ['California', 'Texas', 'Florida', 'New York'],
 'Population': [39613493, 29730311, 21944577, 19299981]}

In [11]:
df = pd.DataFrame(dic_states)

In [12]:
df

       States  Population
0  California    39613493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981

## Crear un dataFrame desde un archivo excel

In [ ]:
import time
start = time.time()
mat = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/M.xlsx")
end = time.time()
print(f"Para importar los datos SAP se tardó {end - start} segundos")

In [ ]:
display(mat)

In [ ]:
mat.columns

In [ ]:
mat.dtypes

In [ ]:
materiales.info()

In [ ]:
mat.describe()

## Borrar los materiales de los almacenes 1140 y 1142 del centro 1002

In [ ]:
indexABorrar = materiales[(materiales['Ce.']==1002) & (materiales['Almacén'].isin(['1141','1140']))].index
materiales.drop(indexABorrar, inplace=True)

## Creamos el id_mat

In [ ]:
mat["id_mat"] = mat["Almacén"] + mat["Material"].astype(str)
mat.set_index('id_mat', inplace=True)

## Filtrados de columnas

In [ ]:
mat["Material"]

In [ ]:
mat[['Material','Almacén', 'PrMedioVar','Libre utiliz.']] # Paso una lista con los nom.de col.

## Filtrado de filas

In [ ]:
mat.iloc[0]

In [ ]:
mat.iloc[0:3]

In [ ]:
mat.loc[['11261004756','11261001167','11281061933']]

In [ ]:
mat.loc[['11261004756','11261001167','11281061933'],['Material','Almacén', 'PrMedioVar','Libre utiliz.']]

In [ ]:
mat[(mat['PrMedioVar']<10000) & (mat['Almacén']=='1126')]

In [ ]:
mat.columns

## Busca si contiene una cadena de texto

In [ ]:
mat[mat['Texto breve de material'].str.contains('6206')]

## Para buscar por varios textos

In [ ]:
columna = 'Texto breve de material'
texto1 = 'JUNTA'
texto2 = '1929'

dfBusqueda2 = materiales[(materiales[columna].str.contains(texto1,case=False)) & (materiales[columna].str.contains(texto2,case=False))][['Material','Texto breve de material','Ce.','Almacén','Grupo de artículos', 'GCp']]
dfBusqueda2.to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/busqueda2.xlsx')

## Apply

In [ ]:
import random
def stockCero(stock):
    resultado = stock == 0.0
    return resultado

mat["stockCero"] = mat['Libre utiliz.'].apply(stockCero)
mat.head(10)

In [ ]:
def calculoValor(fila):
    resultado = fila['Libre utiliz.'] * fila['PrMedioVar']
    return resultado

mat['valor'] = mat.apply(calculoValor, axis=1)

In [ ]:
mat[['Material','Libre utiliz.','PrMedioVar','valor']].head()

## Agrupación de datos

In [ ]:
mat.groupby("Almacén").mean()

In [ ]:
agrupado = mat.groupby("Almacén").agg({
    'Libre utiliz.': 'mean',
    'PrMedioVar': 'max',
    'PzE': 'min',
    'Creado': 'max'
})

In [ ]:
agrupado

In [ ]:
agrupado['PrMedioVar'].plot(kind='bar')

In [ ]:
mat.plot(kind='scatter',x='PzE',y='Stock máximo')

In [ ]:
mat.dtypes