# ABASTECIMENTO
ver pyodbc

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date,time,datetime

## Importando datos

In [2]:
import time
start = time.time()
materiales = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/M.xlsx")
end = time.time()
print(f"Se importo M ({len(materiales)} registros/{round(end - start,1)} segundos)")

start = time.time()
pedidos = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/P.xlsx")
end = time.time()
print(f"Se importo P ({len(pedidos)} registros/{round(end - start,1)} segundos)")

start = time.time()
bloq = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/B.xlsx")
end = time.time()
print(f"Se importo B ({len(bloq)} registros/{round(end - start,1)} segundos)")

start = time.time()
reservas = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/R.xlsx")
end = time.time()
print(f"Se importo R ({len(reservas)} registros/{round(end - start,1)} segundos)")

start = time.time()
zub = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/Z.xlsx")
end = time.time()
print(f"Se importo Z ({len(zub)} registros/{round(end - start,1)} segundos)")

start = time.time()
zor = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/S.xlsx")
end = time.time()
print(f"Se importo S ({len(zor)} registros/{round(end - start,1)} segundos)")

start = time.time()
contratos = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/C.xlsx")
end = time.time()
print(f"Se importo C ({len(contratos)} registros/{round(end - start,1)} segundos)")

start = time.time()
consumos = pd.read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/ConsumosMicro.xlsx")
end = time.time()
print(f"Se importo ConsumoMicro ({len(consumos)} registros/{round((end - start)/60,1)} minutos")

#Borrar los materiales de los almacenes 1140 y 1142 del centro 1002
indexABorrar = materiales[(materiales['Ce.']==1002) & (materiales['Almacén'].isin(['1141','1140']))].index
materiales.drop(indexABorrar, inplace=True)
print('Se borraron los materiales de los almacenes 1140 y 1142 del centro 1002.')

#Creamos el id del dataframe materiales
materiales["id_mat"] = materiales["Almacén"] + materiales["Material"].astype(str)
materiales.set_index('id_mat', inplace=True)
print('Se creó id_mat')

#Creamos la columna familia
def crearFlia(jquia):
    flia = jquia[:5][3:]
    return flia
materiales['flia'] = materiales['Jquía.productos'].apply(crearFlia)
materiales[['Material','Texto breve de material','Jquía.productos','flia']]
print('Se creó la columna flia en df materiales.')

Se importo M (28193 registros/9.0 segundos)
Se importo P (3959 registros/0.8 segundos)
Se importo B (21689 registros/2.7 segundos)
Se importo R (1504 registros/0.3 segundos)
Se importo Z (737 registros/0.2 segundos)
Se importo S (1772 registros/0.3 segundos)
Se importo C (2963 registros/0.8 segundos)
Se importo ConsumoMicro (667306 registros/2.7 minutos
Se borraron los materiales de los almacenes 1140 y 1142 del centro 1002.
Se creó id_mat
Se creó la columna flia en df materiales.

In [3]:
start = time.time()
prov = pd.read_excel("proveedores.xlsx")
end = time.time()
print(f"Se importo prov ({len(prov)} registros/{round(end - start,1)} segundos)")

start = time.time()
matProv = pd.read_excel("mat-prov.xlsx")
end = time.time()
print(f"Se importo matProv ({len(matProv)} registros/{round(end - start,1)} segundos)")

Se importo prov (1427 registros/0.9 segundos)
Se importo matProv (45343 registros/1.7 segundos)

## Busqueda

In [ ]:
columna = 'Texto breve de material'
texto1 = 'benzoato'
dfBusqueda1 = materiales[materiales[columna].str.contains(texto1,case=False)][['Material','Texto breve de material','Ce.','Almacén','Grupo de artículos', 'GCp']]
dfBusqueda1
#dfBusqueda1.to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/busqueda1.xlsx')

## Busqueda tipo like

In [ ]:
columna = 'Texto breve de material'
texto1 = 'JUNTA'
texto2 = '1929'

dfBusqueda2 = materiales[(materiales[columna].str.contains(texto1,case=False)) & (materiales[columna].str.contains(texto2,case=False))][['Material','Texto breve de material','Ce.','Almacén','Grupo de artículos', 'GCp']]
dfBusqueda2.to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/busqueda2.xlsx')

## Análisis de Bloqueados

In [ ]:
bloq

In [ ]:
bloq.columns

In [ ]:
#Para concatenar
#bloq["key"] = bloq["Material"].astype(str) + bloq["Pedido"].astype(str)

In [ ]:
#convierte en negativo los 105 y los 106
def transformar(x,y):
    if x == 103:
        return y
    elif x == 104:
        return y
    elif x == 105:
        return y * (-1)
    elif x == 106:
        return y * (-1)

bloq['Cantidad'] = bloq.apply(lambda row: transformar(row['Clase de movimiento'],row['Cantidad']), axis=1)

In [ ]:
#Suma 103+104+105+106
pendientes = bloq.groupby(by = "Material")['Cantidad'].sum()

pendientes = pendientes[x!=0.0]

In [ ]:
bloq[bloq["Material"].isin(pendientes.keys())]

In [ ]:
bloq[bloq["Material"]==1004085]

In [ ]:
#Para exportar a excel
#b = bloq.head()
#b.to_excel('C:/Users/ordonez/Documents/SAP/SAP GUI/prueba.xlsx')

## Valores únicos

In [ ]:
dato = np.unique(materiales.Material)

In [ ]:
dato

In [ ]:
data = np.unique(materiales['Almacén'], return_counts=True )

In [ ]:
data

In [ ]:
data[1]

In [ ]:
plt.pie(x = data[1],
       labels=data[0],
       startangle=90,
       radius = 2)
plt.show()

## Consumos

In [ ]:
consumos.info()

## Consumo de los Ultimos 12 meses

In [15]:
hasta = str(date.today().year  )+"-"+str(date.today().month)+"-01"
desde = str(date.today().year-1)+"-"+str(date.today().month)+"-01"
condicion = (consumos['Fecha'] >= desde) & (consumos['Fecha'] < hasta)
ult12 = consumos.loc[condicion][['Fecha','Material','Alm','Salida']]

In [16]:
ult12

            Fecha  Material   Alm     Salida
494217 2021-02-01   1000009  1125     1242.0
494218 2021-02-01   1000020  1125      675.0
494219 2021-02-01   1000021  1125      576.0
494220 2021-02-01   1000079  1125     1000.0
494221 2021-02-01   1000083  1133  1177420.0
...           ...       ...   ...        ...
659428 2022-01-31   1056035  1126        5.0
659429 2022-01-31   1056482  1126        1.0
659430 2022-01-31   1056483  1126       50.0
659431 2022-01-31   1059454  1126      100.0
659432 2022-01-31   1060933  1124        1.0

[165216 rows x 4 columns]

In [52]:
ult12_1125 = ult12[ult12['Alm']=='1125']

In [53]:
ult12_1125

            Fecha  Material   Alm   Salida
494217 2021-02-01   1000009  1125   1242.0
494218 2021-02-01   1000020  1125    675.0
494219 2021-02-01   1000021  1125    576.0
494220 2021-02-01   1000079  1125   1000.0
494222 2021-02-01   1000159  1125   1500.0
...           ...       ...   ...      ...
659422 2022-01-31   1054401  1125   2400.0
659423 2022-01-31   1054402  1125   2400.0
659424 2022-01-31   1054402  1125  -2400.0
659425 2022-01-31   1054403  1125   2400.0
659426 2022-01-31   1054404  1125  16100.0

[16859 rows x 4 columns]

In [54]:
#Dos formas de hacerlo. Ammbas generan warning.
#ult12_1125['Mes'] = ult12_1125['Fecha'].dt.month

def crearMes(fecha):
    mes = fecha.month
    return mes
ult12_1125['Mes'] = ult12_1125['Fecha'].apply(crearMes)

C:\Users\ordonez\AppData\Local\Temp\ipykernel_19912\1645651975.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ult12_1125['Mes'] = ult12_1125['Fecha'].apply(crearMes)

In [55]:
ult12_1125._is_view #ult12_1125._is_copy

False

In [39]:
ult12_1125

            Fecha  Material   Alm   Salida
494217 2021-02-01   1000009  1125   1242.0
494218 2021-02-01   1000020  1125    675.0
494219 2021-02-01   1000021  1125    576.0
494220 2021-02-01   1000079  1125   1000.0
494222 2021-02-01   1000159  1125   1500.0
...           ...       ...   ...      ...
659422 2022-01-31   1054401  1125   2400.0
659423 2022-01-31   1054402  1125   2400.0
659424 2022-01-31   1054402  1125  -2400.0
659425 2022-01-31   1054403  1125   2400.0
659426 2022-01-31   1054404  1125  16100.0

[16859 rows x 4 columns]

In [40]:
ult12_1125['Mes'] = ult12_1125['Fecha'].dt.month

C:\Users\ordonez\AppData\Local\Temp\ipykernel_19912\1901377617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ult12_1125['Mes'] = ult12_1125['Fecha'].dt.month

In [41]:
ult12_1125._is_view

False

In [42]:
ult12_1125

            Fecha  Material   Alm   Salida  Mes
494217 2021-02-01   1000009  1125   1242.0    2
494218 2021-02-01   1000020  1125    675.0    2
494219 2021-02-01   1000021  1125    576.0    2
494220 2021-02-01   1000079  1125   1000.0    2
494222 2021-02-01   1000159  1125   1500.0    2
...           ...       ...   ...      ...  ...
659422 2022-01-31   1054401  1125   2400.0    1
659423 2022-01-31   1054402  1125   2400.0    1
659424 2022-01-31   1054402  1125  -2400.0    1
659425 2022-01-31   1054403  1125   2400.0    1
659426 2022-01-31   1054404  1125  16100.0    1

[16859 rows x 5 columns]