# Evaluación de la velocidad de R

In [1]:
library(readr)

# Crear un dataframe desde un archivo csv

In [2]:
df <- read_csv("2008.csv")

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  .default = col_double(),
  UniqueCarrier = col_character(),
  TailNum = col_character(),
  Origin = col_character(),
  Dest = col_character(),
  CancellationCode = col_character()
)
i Use `spec()` for the full column specifications.

In [7]:
str(df)

spec_tbl_df [7,009,728 x 29] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Year             : num [1:7009728] 2008 2008 2008 2008 2008 ...
 $ Month            : num [1:7009728] 1 1 1 1 1 1 1 1 1 1 ...
 $ DayofMonth       : num [1:7009728] 3 3 3 3 3 3 3 3 3 3 ...
 $ DayOfWeek        : num [1:7009728] 4 4 4 4 4 4 4 4 4 4 ...
 $ DepTime          : num [1:7009728] 2003 754 628 926 1829 ...
 $ CRSDepTime       : num [1:7009728] 1955 735 620 930 1755 ...
 $ ArrTime          : num [1:7009728] 2211 1002 804 1054 1959 ...
 $ CRSArrTime       : num [1:7009728] 2225 1000 750 1100 1925 ...
 $ UniqueCarrier    : chr [1:7009728] "WN" "WN" "WN" "WN" ...
 $ FlightNum        : num [1:7009728] 335 3231 448 1746 3920 ...
 $ TailNum          : chr [1:7009728] "N712SW" "N772SW" "N428WN" "N612SW" ...
 $ ActualElapsedTime: num [1:7009728] 128 128 96 88 90 101 240 233 95 79 ...
 $ CRSElapsedTime   : num [1:7009728] 150 145 90 90 90 115 250 250 95 95 ...
 $ AirTime          : num [1:7009728] 116 113 76 78 77 87 230 219 70 70 ...
 $ ArrDelay         : num [1:7009728] -14 2 14 -6 34 11 57 -18 2 -16 ...
 $ DepDelay         : num [1:7009728] 8 19 8 -4 34 25 67 -1 2 0 ...
 $ Origin           : chr [1:7009728] "IAD" "IAD" "IND" "IND" ...
 $ Dest             : chr [1:7009728] "TPA" "TPA" "BWI" "BWI" ...
 $ Distance         : num [1:7009728] 810 810 515 515 515 ...
 $ TaxiIn           : num [1:7009728] 4 5 3 3 3 4 3 7 6 3 ...
 $ TaxiOut          : num [1:7009728] 8 10 17 7 10 10 7 7 19 6 ...
 $ Cancelled        : num [1:7009728] 0 0 0 0 0 0 0 0 0 0 ...
 $ CancellationCode : chr [1:7009728] NA NA NA NA ...
 $ Diverted         : num [1:7009728] 0 0 0 0 0 0 0 0 0 0 ...
 $ CarrierDelay     : num [1:7009728] NA NA NA NA 2 NA 10 NA NA NA ...
 $ WeatherDelay     : num [1:7009728] NA NA NA NA 0 NA 0 NA NA NA ...
 $ NASDelay         : num [1:7009728] NA NA NA NA 0 NA 0 NA NA NA ...
 $ SecurityDelay    : num [1:7009728] NA NA NA NA 0 NA 0 NA NA NA ...
 $ LateAircraftDelay: num [1:7009728] NA NA NA NA 32 NA 47 NA NA NA ...
 - attr(*, "spec")=
  .. cols(
  ..   Year = col_double(),
  ..   Month = col_double(),
  ..   DayofMonth = col_double(),
  ..   DayOfWeek = col_double(),
  ..   DepTime = col_double(),
  ..   CRSDepTime = col_double(),
  ..   ArrTime = col_double(),
  ..   CRSArrTime = col_double(),
  ..   UniqueCarrier = col_character(),
  ..   FlightNum = col_double(),
  ..   TailNum = col_character(),
  ..   ActualElapsedTime = col_double(),
  ..   CRSElapsedTime = col_double(),
  ..   AirTime = col_double(),
  ..   ArrDelay = col_double(),
  ..   DepDelay = col_double(),
  ..   Origin = col_character(),
  ..   Dest = col_character(),
  ..   Distance = col_double(),
  ..   TaxiIn = col_double(),
  ..   TaxiOut = col_double(),
  ..   Cancelled = col_double(),
  ..   CancellationCode = col_character(),
  ..   Diverted = col_double(),
  ..   CarrierDelay = col_double(),
  ..   WeatherDelay = col_double(),
  ..   NASDelay = col_double(),
  ..   SecurityDelay = col_double(),
  ..   LateAircraftDelay = col_double()
  .. )

In [3]:
#Cantidad de filas
nrow(df)

[1] 7009728

In [4]:
#Cantidad de columnas
ncol(df)

[1] 29

## Selección de columnas a mostrar en un dataframe

In [5]:
head(df[c("DepTime","CRSDepTime","ArrTime")],5)

  DepTime CRSDepTime ArrTime
1 2003    1955       2211
2  754     735       1002
3  628     620        804
4  926     930       1054
5 1829    1755       1959

In [8]:
#Muestra una columna del dataframe
head(df$ArrDelay,15)

 [1] -14   2  14  -6  34  11  57 -18   2 -16   1  80   1  10  -4

In [ ]:
nrow(delay)

# Cálculo del tiempo

In [9]:
delay <- df$ArrDelay
#Filtra los datos que no sean NA y sobre escribe el dataframe con los nuevos resultados
delay <- delay[!is.na(delay)]

In [10]:
#Evalua cuanto se tardó en calcular la media
start <- Sys.time()
mean(delay)
print(Sys.time() -start)

[1] 8.168452

Time difference of 0.02095103 secs

In [11]:
#devuelve una tabla resumen
system.time(mean(delay))

   user  system elapsed
   0.02    0.00    0.02

In [ ]:
#Aproximación más avanzada a evaluación de tiempo se logra con
library("rbenchmark")

In [ ]:
benchmark(
    "Media funcion"={
        mean(delay)
    },
    "Media con funciones"={
        sum(delay)/length(delay)
    },
    "Media manual"={
        media <- 0
        for(i in 1:length(delay)){
            media <- media + delay[i]
        }
        media/length(delay)
    },
    replications = 20,
    columns = c("test","replications","elapsed","relative")
)

In [ ]:
for(i in 1:10){
    print(i)
}

# Importar un archivo de excel

In [ ]:
library(readxl)

In [ ]:
M <- read_excel("C:/Users/ordonez/Documents/SAP/SAP GUI/M.XLSX", col_types = c("text", 
"text", "numeric", "numeric", "numeric", 
"numeric", "text", "text", "text", "text", 
"text", "numeric", "text", "text", "text", 
"text", "numeric", "text", "date", "text", 
"numeric", "text", "numeric"))

In [ ]:
View(M)

In [ ]:
M$Material

In [ ]:
M["Material"]

In [ ]:
M[1:10,c("Material","Texto breve de material")]

# Vectores

In [ ]:
num <- c(3,5,4,7,8,2,9)

In [ ]:
class(num)

In [ ]:
num[1]

In [ ]:
num[2:4]

In [ ]:
vec = 1:20

In [ ]:
vec

In [ ]:
numeros <- c(1,2,"tres")

In [ ]:
numeros

In [ ]:
matriz <- matrix(1:25, ncol=5)

In [ ]:
matriz

In [ ]:
matriz2 = matrix(1:25, ncol=5, byrow=TRUE)

In [ ]:
matriz2

# Lista "El objeto más flexible de R"

In [ ]:
lista <- list()

In [ ]:
class(lista)

In [ ]:
lista$objeto1 <- 1:25
lista$objeto2 <- "Alejandro"
lista$objeto3 <- M[1:4,c("Material","Texto breve de material")]

In [ ]:
lista

In [ ]:
lista$objeto1

In [ ]:
lista$objeto1[3:5]

# Tutorial

In [ ]:
help(matrix)

In [ ]:
#Ejecutar dos expresiones en una línea
a = 3 ; b = 5

In [ ]:
b